{% include 'header.html' %}
<h1>{{greeting}}</h1>
<p>
This is <i>formula creator v0.1</i>. It's here for creating formulas. Try it. Use it. Have fun!

<img src="http://formulacreator.appspot.com/formula/?formula=%5Csum_%7Bi%3D1%7D%5En+%5C%2C+i+%3D+%5Cfrac%7Bn%28n%2B1%29%7D%7B2%7D&fontsize=75" align="center">
</p>

<p>
<h1>How does it work?</h1>
Look at the url of the image above. All the magic is inside it. If you want to know more, go ahead to the <a href="samples" >samples</a>.
</p>

{% include 'footer.html' %}
